*.suo
*.sln
*.sln.docstates
*.csproj
*.unityproj
*.pidb
*.userprefs
*.user
*.tmp
.DS_Store
.DS_Store?
.DS_Store.meta
Thumbs.db
Thumbs.db.meta

**/Docs/~$*
**/.vs/
**/Library/
**/obj/
**/Temp/
**/AssetStoreTools*
*/Package2Folder 20*
