*.suo
*.sln
*.sln.docstates
*.csproj
*.unityproj
*.pidb
*.userprefs
*.user
*.tmp
.DS_Store
.DS_Store?
.DS_Store.meta
Thumbs.db
Thumbs.db.meta

Docs/~$*
*UnityVS*

Unity Projects/Master/Library/
Unity Projects/Master/Temp/
Unity Projects/Master/obj/

Unity Projects/Master Unity*/
Unity Projects/Master/Assets/Tests/

Unity Projects/Master/Assets/AssetStoreTools*
